name: C# CI

on:
  push:
    branches: [ main ]
    paths:
      - 'csharp/**'
      - '.github/workflows/csharp/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'csharp/**'
      - '.github/workflows/csharp/**'
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
    
      - name: Build and Test
        uses: Elskom/build-dotnet@v1.1.1
        with:
          # Filepath of the solution of which contains all the projects to be built, optionally tested and packed, relative to root of repository
          SOLUTION_FILE_PATH: ./csharp/Hachi64.sln
          # Flag to toggle running unit tests for the projects built, disabled by default
          TEST: true
          # Flag to toggle packing the projects built
          PACK: false
