name: Reusable C# Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
    
      - name: Build with MSBuild
        run: msbuild Hachi64.sln
        working-directory: ./csharp   

      - name: Run C# tests
        working-directory: ./csharp
        run: dotnet test
