name: Go CI

on:
  push:
    branches: [ main ]
    paths:
      - 'go/**'
      - '.github/workflows/go-test.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'go/**'
      - '.github/workflows/go-test.yml'
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.x'

      - name: Run Go tests
        working-directory: ./go
        run: go test -v ./...
