name: Reusable Python Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        working-directory: ./python
        run: |
          pip install -e .[test]

      - name: Install pytest
        working-directory: ./python
        run: python -m pip install pytest

      - name: Run Python tests
        working-directory: ./python
        run: |
          pytest
