name: Python Main CI

on:
  push:
    branches:
      - main
    paths:
      - 'python/**'
      - '.github/workflows/python/**'

jobs:
  test:
    name: Run Python Tests
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      working-directory: ./python
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
        
    - name: Run tests
      working-directory: ./python
      run: pytest

  publish:
    name: Check Version and Publish if Changed
    needs: test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to compare with previous commit

      - name: Extract version from setup.py
        id: get_version
        run: |
          VERSION=$(grep -o "version=.*" python/setup.py | sed 's/version=//;s/"//g;s/,//')
          echo "VERSION_NUMBER=${VERSION}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Check if version was changed in the last commit
        id: check_version_change
        run: |
          # This command will exit with a non-zero status if no changes are found
          git diff HEAD~1 HEAD --exit-code -- python/setup.py | grep 'version=' || echo "NO_CHANGE=true" >> $GITHUB_OUTPUT
        shell: bash

      - name: Check if tag exists
        if: steps.check_version_change.outputs.NO_CHANGE != 'true'
        id: check_tag
        run: |
          if git rev-parse "v${{ steps.get_version.outputs.VERSION_NUMBER }}" >/dev/null 2>&1; then
            echo "Tag v${{ steps.get_version.outputs.VERSION_NUMBER }} already exists. Skipping release."
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "Tag v${{ steps.get_version.outputs.VERSION_NUMBER }} does not exist. Proceeding to create it."
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Create Git Tag to trigger publish workflow
        if: steps.check_version_change.outputs.NO_CHANGE != 'true' && steps.check_tag.outputs.exists == 'false'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ steps.get_version.outputs.VERSION_NUMBER }}
        run: |
          echo "Version changed. Creating Git tag v${VERSION} to trigger publish workflow."
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag "v${VERSION}" -m "Release version ${VERSION}"
          git push origin "v${VERSION}"
