name: Python Main CI

on:
  push:
    branches:
      - main
    paths:
      - 'python/**'
      - '.github/workflows/python/**'
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/python-test.yml

  publish:
    uses: ./.github/workflows/python-publish.yml
    needs: test
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
