name: Ruby Unit Test

on:
  # push:
  #   branches: [ main ]
  #   paths:
  #     - 'ruby/**'
  #     - '.github/workflows/ruby/**'
  # pull_request:
  #   branches: [ main ]
  #   paths:
  #     - 'ruby/**'
  #     - '.github/workflows/ruby/**'
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Install dependencies
      working-directory: ./ruby
      run: bundle install
    - name: Run tests
      working-directory: ./ruby
      run: bundle exec rspec
