name: Rust CI

on:
  push:
    branches: [ main ]
    paths:
      - 'rust/**'
      - '.github/workflows/rust/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'rust/**'
      - '.github/workflows/rust/**'
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable

      - name: Run Rust tests
        working-directory: ./rust
        run: |
          cargo test
